// this uses the file named "layout.jade"
extends layout

// everything in here will go into the layouts "block content" area
block content
  h1= title
  p Welcome to #{title}
  
  // this is the form, with id='newKitteh'
  form#newKitteh
    input(type="text" name="name" placeholder="Enter a name")
    input(type="text" name="type" placeholder="Enter a type")
    button(type="submit") Submit!
  
  // this is a div with id='kittehs'
  #kittehs
    // for each element in the kittehs array, render the element
    for elem in kittehs
      h2= elem.name
      h3= elem.type
